<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.flatlay"
    android:versionCode="39"
    android:versionName="2.2.1">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <!-- Required for push notification -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.flatlay.permission.C2D_MESSAGE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- Required for personagraph -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.BATTERY_STATS" />
    <!-- Permission to start Alarm on device reboot -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <permission  android:name="com.flatlay.permission.C2D_MESSAGE"  android:protectionLevel="signature" />

    <supports-screens
        android:anyDensity="true"
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:xlargeScreens="true" />


    <application
        android:name=".KikrApp"
        android:allowBackup="true"
        android:icon="@drawable/flatlayround"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:persistent="true"
        tools:replace="android:label"
        android:theme="@style/AppTheme">

        <meta-data android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"/>

        <activity android:name="com.facebook.FacebookActivity"
            android:configChanges=
                "keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />
        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>



        <!-- [START firebase_service] -->
        <service
            android:name=".flFirebaseInstanceIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <service
            android:name=".FirebaseMsgService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>
        <!-- [END firebase_iid_service] -->

        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />
        <activity
            android:name="com.flatlay.BaseActivityWithVideo"
            android:label="@string/app_name"
            android:launchMode="standard"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:windowSoftInputMode="stateHidden|adjustPan"
            android:screenOrientation="portrait">
            <meta-data
                android:name="io.branch.sdk.auto_link_keys"
                android:value="@integer/deeplinkrequestcode" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
                <data
                    android:host="open"
                    android:scheme="flatlay" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="https" android:host="flatlay.app.link" />
                <data android:scheme="https" android:host="flatlay-alternate.app.link" />
            </intent-filter>

            <intent-filter android:autoVerify="true">
            <action android:name="android.intent.action.VIEW" />

            <category android:name="android.intent.category.DEFAULT" />
            <category android:name="android.intent.category.BROWSABLE" />
            <data android:scheme="https" android:host="flatlay.app.link" />
            <data android:scheme="https" android:host="flatlay-alternate.app.link" />

            <data android:scheme="pdk4803833610914245485" />
            </intent-filter>

        </activity>

        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"/>

        <!--<activity android:name="com.flatlay.GalleryImagewithSpinner.ImageDetailActivity"></activity>-->

        <!--<activity-->
            <!--android:name="com.flatlay.activity.SignUpActivity"-->
            <!--android:configChanges="keyboard|keyboardHidden|orientation"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:windowSoftInputMode="stateHidden|adjustPan"></activity>-->
        <!--<activity-->
            <!--android:name="com.flatlay.activity.PinActivity"-->
            <!--android:configChanges="keyboard|keyboardHidden|orientation"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:windowSoftInputMode="stateHidden|adjustPan"></activity>-->
        <activity
            android:name="com.flatlay.activity.HomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppCompat"
            android:launchMode="singleTop"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name=".HomeActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>

        <!--<activity-->
            <!--android:name="com.yalantis.ucrop.UCropActivity"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:theme="@style/AppCompat" />-->
        <activity
            android:name="com.flatlay.circle_crop.circle_crop.ImageCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat" />

        <!--<activity-->
            <!--android:name="com.flatlay.fragment.FragmentInspirationDetail"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:theme="@style/AppCompat" />-->

        <!--<activity-->
            <!--android:name="com.flatlay.fragment.FragmentDiscoverDetail"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:theme="@style/AppCompat" />-->

        <!--<activity-->
            <!--android:name="com.flatlay.activity.PinterestLoginActivity"-->
            <!--android:theme="@android:style/Theme.Translucent.NoTitleBar">-->
            <!--<intent-filter android:autoVerify="true">-->
                <!--<action android:name="android.intent.action.VIEW" />-->

                <!--<category android:name="android.intent.category.DEFAULT" />-->
                <!--<category android:name="android.intent.category.BROWSABLE" />-->
                <!--<data android:scheme="https" android:host="flatlay.app.link" />-->
                <!--<data android:scheme="https" android:host="flatlay-alternate.app.link" />-->

                <!--<data android:scheme="pdk4803833610914245485" />-->
            <!--</intent-filter>-->
        <!--</activity>-->


        <!--<activity-->
            <!--android:name="com.flatlay.activity.PinAuthActivity"-->
            <!--android:configChanges="keyboard|keyboardHidden|orientation"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:windowSoftInputMode="stateHidden|adjustPan"></activity>-->
        <!--<activity-->
            <!--android:name="com.flatlay.activity.CustomizeFeedActivity"-->
            <!--android:configChanges="keyboardHidden|orientation|screenSize"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen"-->
            <!--android:windowSoftInputMode="stateHidden|adjustPan"></activity>-->
        <activity
            android:name="com.flatlay.activity.PinGuideActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait"
            android:exported="true"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>
        <!--<activity-->
            <!--android:name="com.flatlay.activity.KikrLearnMoreActivity"-->
            <!--android:configChanges="keyboardHidden|orientation|screenSize"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:windowSoftInputMode="stateHidden|adjustPan"></activity>-->
        <!--<activity-->
            <!--android:name="com.flatlay.activity.DiscoverDetailActivity"-->
            <!--android:configChanges="keyboard|keyboardHidden|orientation"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:windowSoftInputMode="stateHidden|adjustPan"></activity>-->
        <!--<activity-->
            <!--android:name="com.flatlay.activity.PhoneNumberActivity"-->
            <!--android:configChanges="keyboard|keyboardHidden|orientation"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:windowSoftInputMode="stateHidden|adjustPan"></activity>-->
        <!--<activity-->
            <!--android:name="com.flatlay.activity.LoginActivity"-->
            <!--android:configChanges="keyboard|keyboardHidden|orientation"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:windowSoftInputMode="stateHidden|adjustPan"></activity>-->
        <!--<activity-->
            <!--android:name="com.flatlay.activity.WalletPinActivity"-->
            <!--android:configChanges="keyboard|keyboardHidden|orientation"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:windowSoftInputMode="stateHidden|adjustPan"></activity>-->
        <!--<activity-->
            <!--android:name="com.flatlay.activity.DealWebViewActivity"-->
            <!--android:configChanges="keyboard|keyboardHidden|orientation"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:windowSoftInputMode="stateHidden|adjustPan"></activity>-->
        <!--<activity-->
            <!--android:name="com.flatlay.activity.FollowCategoriesActivity"-->
            <!--android:configChanges="keyboard|keyboardHidden|orientation"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:windowSoftInputMode="stateHidden|adjustPan"></activity>-->
        <!--<activity-->
            <!--android:name="com.flatlay.activity.FollowBrandsActivity"-->
            <!--android:configChanges="keyboard|keyboardHidden|orientation"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:windowSoftInputMode="stateHidden|adjustPan"></activity>-->
        <!--<activity-->
            <!--android:name="com.flatlay.activity.FollowStoreActivity"-->
            <!--android:configChanges="keyboard|keyboardHidden|orientation"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:windowSoftInputMode="stateHidden|adjustPan"></activity>-->
        <activity
            android:name="com.flatlay.activity.EmailActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>
        <activity
            android:name="com.flatlay.activity.FbSignActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>
        <activity android:name="com.facebook.LoginActivity"></activity>
        <!--<activity-->
            <!--android:name="com.flatlay.twitter.TwitterOAuthActivity"-->
            <!--android:configChanges="keyboardHidden|orientation"-->
            <!--android:screenOrientation="portrait"></activity>-->
        <!--<activity-->
            <!--android:name="com.flatlay.activity.AddBankActivity"-->
            <!--android:configChanges="keyboard|keyboardHidden|orientation"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:windowSoftInputMode="stateHidden|adjustPan"></activity>-->
        <!--<activity-->
            <!--android:name="com.flatlay.activity.ForgotPassword"-->
            <!--android:configChanges="keyboard|keyboardHidden|orientation"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:windowSoftInputMode="stateHidden|adjustPan"></activity>-->
        <!--<activity-->
            <!--android:name="com.flatlay.googlewallet.CheckoutActivity"-->
            <!--android:configChanges="keyboard|keyboardHidden|orientation"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:windowSoftInputMode="stateHidden|adjustPan"></activity>-->
        <!--<activity-->
            <!--android:name="com.flatlay.googlewallet.ConfirmationActivity"-->
            <!--android:configChanges="keyboard|keyboardHidden|orientation"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:windowSoftInputMode="stateHidden|adjustPan"></activity>-->
        <!--<activity-->
            <!--android:name="com.flatlay.googlewallet.OrderCompleteActivity"-->
            <!--android:configChanges="keyboard|keyboardHidden|orientation"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:windowSoftInputMode="stateHidden|adjustPan"></activity>-->
        <!--<activity-->
            <!--android:name="com.flatlay.activity.KikrTutorialActivity"-->
            <!--android:configChanges="keyboard|keyboardHidden|orientation"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:windowSoftInputMode="stateHidden|adjustPan"></activity>-->

        <!--  <activity
              android:name="com.flatlay.ibeacon.RangingActivity"
              android:configChanges="keyboard|keyboardHidden|orientation"
              android:screenOrientation="portrait"
              android:windowSoftInputMode="stateHidden|adjustPan" >
          </activity>-->

        <!--<activity-->
            <!--android:name="com.flatlay.activity.ResetPassword"-->
            <!--android:configChanges="keyboard|keyboardHidden|orientation"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:windowSoftInputMode="stateHidden|adjustPan"></activity>-->

        <!-- <activity
             android:name="com.flatlay.activity.ProductBasedOnBrandActivity"
             android:configChanges="keyboard|keyboardHidden|orientation"
             android:screenOrientation="portrait"
             android:windowSoftInputMode="stateHidden|adjustPan" >
         </activity>-->
        <activity
            android:name=".activity.ChangePasswordActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>
        <!--<activity-->
            <!--android:name="com.flatlay.activity.ChangeWalletPinActivity"-->
            <!--android:configChanges="keyboard|keyboardHidden|orientation"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:windowSoftInputMode="stateHidden|adjustPan"></activity>-->
        <activity
            android:name="com.flatlay.activity.ChangeEmailActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>
        <!--<activity-->
            <!--android:name="com.flatlay.activity.DefaultLifestyleImagesActivity"-->
            <!--android:configChanges="keyboard|keyboardHidden|orientation"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:windowSoftInputMode="stateHidden|adjustPan"></activity>-->
        <!--<activity-->
            <!--android:name="com.flatlay.activity.ImageViewActivity"-->
            <!--android:configChanges="keyboard|keyboardHidden|orientation"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:windowSoftInputMode="stateHidden|adjustPan"></activity>-->
        <!--<activity-->
            <!--android:name="com.flatlay.activity.LearnMoreOutsideUSActivity"-->
            <!--android:configChanges="keyboard|keyboardHidden|orientation"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:windowSoftInputMode="stateHidden|adjustPan"></activity>-->
        <activity
            android:name="com.flatlay.activity.ProductDetailWebViewActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:theme="@style/AppCompat"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>
        <!--<activity-->
            <!--android:name="com.flatlay.activity.RegisterEmailOnSkipActivity"-->
            <!--android:configChanges="keyboard|keyboardHidden|orientation"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:windowSoftInputMode="stateHidden|adjustPan"></activity>-->
        <activity
            android:name="com.flatlay.activity.FollowCategoriesNewActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>

        <activity
            android:name="com.flatlay.activity.EditProfileActivity"
            android:configChanges="keyboard|keyboardHidden|orientation"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden|adjustPan"></activity>
        <!--<activity-->
            <!--android:name="com.flatlay.activity.InstagramLoginActivity"-->
            <!--android:configChanges="keyboard|keyboardHidden|orientation"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:windowSoftInputMode="stateHidden|adjustPan"></activity>-->
        <!--<activity-->
            <!--android:name="com.flatlay.activity.IntroductionPagerActivity"-->
            <!--android:configChanges="keyboard|keyboardHidden|orientation"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:theme="@android:style/Theme.Translucent.NoTitleBar"-->
            <!--android:windowSoftInputMode="stateHidden|adjustPan"-->
            <!--&gt;-->

        <!--</activity>-->

        <!--<activity-->
            <!--android:name="com.flatlay.activity.IntroductionActivity"-->
            <!--android:configChanges="keyboard|keyboardHidden|orientation"-->
            <!--android:screenOrientation="portrait"-->
            <!--android:theme="@android:style/Theme.NoTitleBar"-->
            <!--android:windowSoftInputMode="stateHidden|adjustPan"-->
            <!--&gt;-->
        <!--</activity>-->

        <activity android:name="com.flatlay.post_upload.ProductSearchTagging"
            android:screenOrientation="portrait"></activity>

        <service android:name="com.flatlay.service.PlaceOrderService" />

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider1577144115912726"
            android:exported="true" />


        <!-- paypal classes -->
        <activity android:name="com.paypal.android.sdk.payments.PayPalFuturePaymentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.PayPalProfileSharingActivity" />
        <activity android:name="com.paypal.android.sdk.payments.ProfileSharingConsentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.FuturePaymentInfoActivity" />
        <activity android:name="com.paypal.android.sdk.payments.FuturePaymentConsentActivity" />
        <activity android:name="com.paypal.android.sdk.payments.LoginActivity" />
        <activity
            android:name="com.paypal.android.sdk.payments.PayPalTouchActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <service
            android:name="com.paypal.android.sdk.payments.PayPalService"
            android:exported="false" />



        <!-- Required OpenGL ES 2.0. for Maps V2 -->
        <uses-feature
            android:glEsVersion="0x00020000"
            android:required="true" />

        <!-- Googlge API Key -->
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/map_api_key_production" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <receiver android:name="com.flatlay.GCMAlarmReceiver"></receiver>


        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="2dbb06a3d9265e11cd924c1608348f941b1386d1" />

        <!-- Branch init -->
        <meta-data android:name="io.branch.sdk.BranchKey" android:value="key_live_ckbMYDsQtZCx8fgy4TbWofieCEnpCDET" />
        <meta-data android:name="io.branch.sdk.BranchKey.test" android:value="key_test_aenO4wrMwWsE4aiq0Rd0njibxAehsvxv" />
        <meta-data android:name="io.branch.sdk.TestMode" android:value="false" />

    </application>

</manifest>